{% extends base.html %}

{% block content %}
<form id="record" class="form-control mt-5 w-50 mx-auto" action="/login" method="post">
    <div class="mx-5 my-3">
        <label for="email" class="form-label">Введите адрес вашей почты</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
    </div>
    <div class="mx-5 my-3">
        <label for="password" class="form-label">Введите пароль</label>
        <input type="password" class="form-control" name="password" id="password">
    </div>
    <section class="row">
        <button class="col-sm btn btn-primary btn-lg my-3 mx-5" type="submit">Отправить</button>
        <button class="col-sm btn btn-light btn-lg my-3 mx-5" type="reset">Сбросить</button>
    </section>
</form>

{% endblock %}