{% extends base.html %}

{% block content %}
<form id="event" class="form-control mt-5 w-50 mx-auto" action="/event/edit" method="post">
    <input type="hidden" name="event_id" value="{{ $event['event_id'] }}" />
    <section class="row mt-3">
        <div class="col-sm mx-5">
            <label for="name" class="form-label">Название мероприятия</label>
            <input type="text" class="form-control" name="name" id="name" value="{{ $event['event_name'] }}">
        </div>
        <div class="col-sm mx-5">
            <label for="manager" class="form-label">Менеджер</label>
            <select name="manager" class="form-select">
                <option selected value="{{ $event['manager_id'] }}">
                    {{ $event['manager_login'] }}
                </option>
                {% $managers = array_filter($managers, fn($manager) => $manager[0] != $event['manager_id']); %}
                {% foreach($managers as $manager): %}
                    <option value="{{ $manager[0] }}">{{ $manager[1] }}</option>
                {% endforeach %}
            </select>
        </div>
    </section>
    <section class="row mt-3">
        <div class="col-sm mx-5">
            <label for="location" class="form-label">Место проведения мероприятия</label>
            <input type="text" class="form-control" name="location" id="location" value="{{ $event['event_location'] }}">
        </div>
        <div class="col-sm mx-5">
            <label for="price" class="form-label">Цена</label>
            <input type="number" class="form-control" name="price" id="price" value="{{ $event['event_price'] }}">
        </div>
    </section>
    <button class="w-100 btn btn-primary btn-lg mt-5 mb-3 mx-auto" type="submit">Сохранить</button>
</form>

{% endblock %}