{% extends base.html %}

{% block content %}
<section class="mx-auto w-75 mt-5 bg-light">
    <h2 class="w-100 text-center py-3">Пользователи</h2>
    <div class="d-flex justify-content-around">
        <p class="w-25 text-center"><b>id</b></p>
        <p class="w-25 text-center"><b>username</b></p>
        <p class="w-25 text-center"><b>email</b></p>
        <p class="w-25 text-center"><b>role</b></p>
        <p class="w-25 text-center"><b>operation</b></p>
    </div>

    {% foreach($users as $user): %}
    <div class="d-flex justify-content-around">
        <p class="w-25 text-center">{{ $user[0] }}</p>
        <p class="w-25 text-center">{{ $user[1] }}</p>
        <p class="w-25 text-center">{{ $user[2] }}</p>
        <p class="w-25 text-center">{{ $user[3] }}</p>
        <span class="w-25 text-center">
            <a href="/admin/user/edit?uid={{ $user[0] }}"><img src="/static/assets/edit.svg"></a>
            <a name="delete" href="/admin/user/delete?uid={{ $user[0] }}"><img src="/static/assets/delete.svg"></a>
        </span>
    </div>
    {% endforeach; %}
    <a class="text-center" href="/admin/user/add"><img src="/static/assets/record.svg"></a>
    <div id="popup" class="w-50 mx-auto modal-banner d-none">
        <h2 class="text-center">Are you sure?</p>
        <div class="d-flex justify-content-around">
            <button id="popup-no" class="btn btn-warning">No</button>
            <a href="/admin/user/delete?uid={{ $user[0] }}" id="popup-yes" class="btn btn-light">Yes</a>
        </div>
    </div>
</section>

<script>
    $('a[name="delete"]').click((event) => {
        event.preventDefault();
        $('#popup').removeClass('d-none');
        $('#popup').addClass('muted');
    })

    $('#popup-no').click((event) => {
        $('#popup').addClass('d-none');
        $('#popup').removeClass('muted');
    })

    $('#popup-yes').click((event) => {
        $('#popup').addClass('d-none');
        $('#popup').removeClass('muted');
        $.ajax(event.currentTarget.getAttribute('href'));
    })

</script>

{% endblock %}